:root {
    --title-font: georgia, serif;
    --body-font: arial, sans-serif;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    line-height: 1.5rem;

    background-color: whitesmoke;
    color: darkslategrey;

    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

h1 {
    font-variant-caps: small-caps;
    font-family: var(--title-font);
    letter-spacing: 0.2ch;
    font-size: 2rem;
    font-weight: 900;
}

h2 {
    font-family: var(--body-font);
    letter-spacing: 0.2ch;
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    letter-spacing: 0.1ch;
    font-size: 1rem;
    font-weight: 100;
}

nav {
    background-image: linear-gradient(black, navy);
    color: whitesmoke;

    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;

    padding: 0;
    margin: 0;
}

nav a {
    font-variant-caps: all-small-caps;
    font-weight: 100;
    letter-spacing: 0.2ch;

    text-decoration: none;
    color: white;

    background-color: transparent;
    backdrop-filter: none;
    transition: backdrop-filter 0.5s ease;

    display: block;
    
    padding: 1rem;
    margin: 0;
}

nav a:hover {
    backdrop-filter: brightness(400%);
    transition: backdrop-filter 0s;
}

main {
    max-width: 40rem;

    margin: 0 auto;
    padding: 0;
}